{% extends 'main/frame.html' %}
{% load static %}
{% block content %}
<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <form id="registration-form" method="post">
        {% csrf_token %}
        <h2 style="text-align: center;">Registration</h2>
        <h3 style=>User part</h2>
        <label for="customuser_first_name">First name:</label>
        <input type="text" name="customuser_first_name" id="customuser_first_name" required><br><br>
        <label for="customuser_last_name">Last name:</label>
        <input type="text" name="customuser_last_name" id="customuser_last_name" required><br><br>
        <label for="customuser_age">Age:</label>
        <input type="text" name="customuser_age" id="customuser_age" required><br><br>
        <label for="customuser_gender">Last name:</label>
        <select name="customuser_gender" id="customuser_gender">
            <option value="1">Male</option>
            <option value="2">Female</option>
        </select>
        <label for="customuser_email">Email:</label>
        <input type="email" name="customuser_email" id="customuser_email" required><br><br>
        <label for="customuser_password">Password:</label>
        <input type="password" name="customuser_password" id="customuser_password" required><br><br>
        <h3 style=>Organization part</h2>
        <label for="organization_name">Name:</label>
        <input type="text" name="organization_name" id="organization_name" required><br><br>
        <label for="organization_address">Address:</label>
        <input type="text" name="organization_address" id="organization_address" required><br><br>
        <label for="organization_email">Email:</label>
        <input type="email" name="organization_email" id="organization_email" required><br><br>
        <label for="organization_phone">Phone:</label>
        <input type="text" name="organization_phone" id="organization_phone" required><br><br>
        <input type="submit" value="Register" style="text-align: center;"><br><br>
        <a href="/">Log in</a>
    </form>
</div>
<script src="{% static 'js/register.js' %}"></script>
{% endblock %}